#
# this is sourced from t_client.sh and defines which openvpn client tests
# to run
#
#
# define these - if empty, no tests will run
#
if [ -z "$KEYBASE" ] ; then
    KEYBASE="/home/openvpn-keys"
fi

CA_CERT="$KEYBASE/ca.crt"
CLIENT_KEY="$KEYBASE/cron2-freebsd-tc-amd64-22.key"
CLIENT_CERT="$KEYBASE/cron2-freebsd-tc-amd64-22.crt"

# auf Linux *nicht*, weil fping/fping6 nicht suid sind (hargh!)
RUN_SUDO=sudo

#
# default time for OpenVPN startup is 10 seconds, increase for faraway server
SETUP_TIME_WAIT=20

# override test ("make it fast!")
#FPING_EXTRA_ARGS="-C 5"
FPING_EXTRA_ARGS="-C 10"

#. ../t_client_ips.rc

#
# remote host (used as macro below)
#
REMOTE=gentoo.ov.greenie.net
#
# tests to run (list suffixes for config stanzas below)
#
TEST_RUN_LIST="1 2 3 4 6 8"			# minimum set for 2.2

if [ -n "$TEST_RUN_OVERRIDE" ] ; then
    echo "overriding test list: $TEST_RUN_OVERRIDE"
    TEST_RUN_LIST="$TEST_RUN_OVERRIDE"
fi

#
# base confic that is the same for all the p2mp test runs
#
OPENVPN_BASE_P2MP="--client --ca $CA_CERT \
	--cert $CLIENT_CERT --key $CLIENT_KEY \
	--remote-cert-tls server --nobind --comp-lzo --verb 3"

# base config for p2p tests
#
OPENVPN_BASE_P2P="..."

#
#
# now define the individual tests - all variables suffixed with _1, _2 etc
# will be used in test run "1", "2", etc.
# 
# if something is not defined here, the "generic" variable without 
# suffix will be used
#
# Test 1: TCP / p2mp tun
#
RUN_TITLE_1="tcp / p2pm / top net30"
OPENVPN_CONF_1="$OPENVPN_BASE_P2MP --dev tun3 --proto tcp-client --remote $REMOTE --port 51194"
CLEANUP_1="sudo ifconfig tun3 destroy"
EXPECT_IFCONFIG4_1=10.204.1.18
EXPECT_IFCONFIG6_1=-
PING4_HOSTS_1="10.204.1.1 10.204.0.1"
PING6_HOSTS_1=

#
# Test 1a: TCP / IPv6 / p2mp tun [removed]
# 

#
# Test 1b: TCP p2mp tun, IPv4 HTTP proxy
#

RUN_TITLE_1b="tcp4 / http proxy / p2pm / top net30"
OPENVPN_CONF_1b="$OPENVPN_BASE_P2MP --dev tun3 --proto tcp-client --remote $REMOTE --port 51194 --http-proxy wwwcache.space.net 3128"
EXPECT_IFCONFIG4_1b=$EXPECT_IFCONFIG4_1
EXPECT_IFCONFIG6_1b=$EXPECT_IFCONFIG6_1
PING4_HOSTS_1b="$PING4_HOSTS_1"
PING6_HOSTS_1b="$PING6_HOSTS_1"

#
# Test 1c: TCP p2mp tun, IPv6 HTTP proxy [removed]
#

#
# Test 1d: TCP p2mp tun, IPv4 SOCKS proxy
#

RUN_TITLE_1d="tcp4 / socks proxy / p2pm / top net30"
OPENVPN_CONF_1d="$OPENVPN_BASE_P2MP --dev tun3 --proto tcp-client --remote $REMOTE --port 51194 --socks-proxy socks.ov.greenie.net 1080"
EXPECT_IFCONFIG4_1d=$EXPECT_IFCONFIG4_1
EXPECT_IFCONFIG6_1d=$EXPECT_IFCONFIG6_1
PING4_HOSTS_1d="$PING4_HOSTS_1"
PING6_HOSTS_1d="$PING6_HOSTS_1"

#
# Test 1e: TCP p2mp tun, IPv6 SOCKS proxy  [removed]
#

#
# Test 2: UDP / p2mp tun
#   specify IPv4+IPv6 addresses expected from server and ping targets
#
RUN_TITLE_2="udp / p2pm / top net30"
OPENVPN_CONF_2="$OPENVPN_BASE_P2MP --dev tun3 --proto udp --remote $REMOTE --port 51194"
CLEANUP_2="sudo ifconfig tun3 destroy"
EXPECT_IFCONFIG4_2=10.204.2.18
EXPECT_IFCONFIG6_2=-
PING4_HOSTS_2="10.204.2.1 10.204.0.1"
PING6_HOSTS_2=

# Test 2a: UDP / p2mp tun, no v4-routes, no NCP [removed]

# Test 2b: UDP*6* / p2mp tun [removed]
#

# Test 2c: UDP*6* / p2mp tun / --multihome [removed]
#

#
# Test 2d: UDP p2mp tun, IPv4 SOCKS proxy
#

RUN_TITLE_2d="UDP4 / socks proxy [on TCP!] / p2pm / top net30"
OPENVPN_CONF_2d="$OPENVPN_BASE_P2MP --dev tun --proto udp --remote $REMOTE --port 51194 --socks-proxy socks.ov.greenie.net 1080"
EXPECT_IFCONFIG4_2d=$EXPECT_IFCONFIG4_2
EXPECT_IFCONFIG6_2d=$EXPECT_IFCONFIG6_2
PING4_HOSTS_2d="$PING4_HOSTS_2"
PING6_HOSTS_2d="$PING6_HOSTS_2"

#
# Test 2e: UDP p2mp tun, IPv6 SOCKS proxy [removed]
#

#
# Test 2f: UDP p2mp tun, IPv6-only (--pull-filter) [removed]
#

# Test 3: UDP / p2mp tun, topology subnet
#
RUN_TITLE_3="udp / p2pm / top subnet ** ipv4 only ** / tls-auth"
OPENVPN_CONF_3="$OPENVPN_BASE_P2MP --dev tun3 --proto udp --remote $REMOTE --port 51195 --tls-auth $KEYBASE/ta3.key"
CLEANUP_3="sudo ifconfig tun3 destroy"
EXPECT_IFCONFIG4_3=10.204.3.5
EXPECT_IFCONFIG6_3=-
PING4_HOSTS_3="10.204.3.1 10.204.0.1"
PING6_HOSTS_3=

# Test 4: UDP / p2mp tap
#
RUN_TITLE_4="udp(4) / p2pm / tap"
OPENVPN_CONF_4="$OPENVPN_BASE_P2MP --dev tap4 --proto udp --remote $REMOTE --port 51196"
CLEANUP_4="sudo ifconfig tap4 destroy"
EXPECT_IFCONFIG4_4=10.207.4.220			# ccd/DEFAULT
EXPECT_IFCONFIG6_4=-				# ccd/DEFAULT
# .200 = fbsd11, .207 = fbsd74
PING4_HOSTS_4="10.204.4.1 10.204.0.1 10.204.4.200 10.207.4.207"
PING6_HOSTS_4=

# Test 4a: UDP / p2mp tap3 / topo subnet
# 
RUN_TITLE_4a="udp(6) / p2pm / tap3 / topo subnet"
OPENVPN_CONF_4a="$OPENVPN_BASE_P2MP --dev tap3 --proto udp6 --remote $REMOTE --port 51196 --topology subnet"
EXPECT_IFCONFIG4_4a=$EXPECT_IFCONFIG4_4
EXPECT_IFCONFIG6_4a=$EXPECT_IFCONFIG6_4
PING4_HOSTS_4a="$PING4_HOSTS_4"
PING6_HOSTS_4a="$PING6_HOSTS_4"

# Test 4b: UDP / p2mp tap / ipv6-only [removed]
# 


# Test 5: UDP / p2mp tun, top net30, ipv6 /112  [removed]
#

# Test 6: UDP / p2mp tun, top subnet, --fragment 500
RUN_TITLE_6="udp / p2pm / top subnet / --fragment 500"
OPENVPN_CONF_6="$OPENVPN_BASE_P2MP --dev tun3 --proto udp --remote $REMOTE --port 51198 --fragment 500"
CLEANUP_6="sudo ifconfig tun3 destroy"
EXPECT_IFCONFIG4_6=10.204.6.5
EXPECT_IFCONFIG6_6=-
PING4_HOSTS_6="10.204.6.1 10.204.0.1"
PING6_HOSTS_6=

# Test ...: UDP / p2mp tap
#

# Test ...: TCP / p2mp tun
#

# Test ...: UDP / p2p tap
#

# Test ...: TCP / p2p tap
#
#
# Test 8: UDP / p2p tun
RUN_TITLE_8="p2p tun / udp4"
OPENVPN_CONF_8="--dev tun3 --proto udp --remote gentoo.ov.greenie.net 51204 --nobind --secret $KEYBASE/p2p-gentoo.key --ifconfig 10.204.8.2 10.204.8.1 --comp-lzo --route 10.204.0.0 255.255.0.0 --verb 3 --up /home/gert/bin/ping8.sh --script-security 2"
CLEANUP_8="sudo ifconfig tun3 destroy"
EXPECT_IFCONFIG4_8="10.204.8.2"
EXPECT_IFCONFIG6_8=-
PING4_HOSTS_8="10.204.8.1 10.204.0.1"
PING6_HOSTS_8=

# Test 8a, IPv6 [removed]

# Test 9: tcp / p2p tap / --tls-server  [not interesting, not used]
RUN_TITLE_9="udp / p2p tap / --tls-server --inetd on remote"
OPENVPN_CONF_9="$OPENVPN_BASE_P2MP --dev tap --proto tcp --remote gentoo.ov.greenie.net 51204 --ifconfig 10.204.9.2 255.255.255.0 --comp-lzo --tun-ipv6 --ifconfig-ipv6 fd00:abcd:204:9::2/64 fd00:abcd:204:9::1"
EXPECT_IFCONFIG4_9="10.204.9.2"
EXPECT_IFCONFIG6_9="fd00:abcd:204:9::2"
PING4_HOSTS_9="10.204.9.1 10.204.0.1"
PING6_HOSTS_9="fd00:abcd:204:9::1 fd00:abcd:204:0::1"
