#
# this is sourced from t_client.sh and defines which openvpn client tests
# to run
#

# Load deployment configuration
. /var/lib/provision/deployment-config.sh

# Load EXPECT_IFCONFIG* values from the cache, if present
test -r ./t_client_ips.rc && . ./t_client_ips.rc

if [ -z "$KEYBASE" ] ; then
    KEYBASE="/openvpn-test-server/keys"
fi

CA_CERT="$KEYBASE/ca.crt"
CLIENT_KEY="$KEYBASE/client-22.key"
CLIENT_CERT="$KEYBASE/client-22.crt"

RUN_SUDO=sudo

# Define ping
FPING_EXTRA_ARGS="-C 5 -p 50"

#
# remote host (used as macro below)
#
REMOTE=$T_SERVER_PRIVATE_HOSTNAME
PING8_SH="/root/bin/ping8.sh"

#
# tests to run (list suffixes for config stanzas below)
#
TEST_RUN_LIST="1 2 3 4 6 8" # minimum set for 2.2

if [ -n "$TEST_RUN_OVERRIDE" ] ; then
    echo "overriding test list: $TEST_RUN_OVERRIDE"
    TEST_RUN_LIST="$TEST_RUN_OVERRIDE"
fi

#
# base confic that is the same for all the p2mp test runs
#
OPENVPN_BASE_P2MP="--client --ca $CA_CERT \
  --cert $CLIENT_CERT --key $CLIENT_KEY \
  --remote-cert-tls server --nobind --comp-lzo --verb 3"

#
#
# now define the individual tests - all variables suffixed with _1, _2 etc
# will be used in test run "1", "2", etc.
#
# Test 1: TCP / p2mp tun
#
RUN_TITLE_1="tcp / p2pm / top net30"
OPENVPN_CONF_1="$OPENVPN_BASE_P2MP --dev tun3 --proto tcp-client --remote $REMOTE --port 51194"
EXPECT_IFCONFIG6_1=-
PING4_HOSTS_1="10.204.1.1 10.204.0.1"
PING6_HOSTS_1=

# Test 2: UDP / p2mp tun
#
RUN_TITLE_2="udp / p2pm / top net30"
OPENVPN_CONF_2="$OPENVPN_BASE_P2MP --dev tun3 --proto udp --remote $REMOTE --port 51194"
EXPECT_IFCONFIG6_2=-
PING4_HOSTS_2="10.204.2.1 10.204.0.1"
PING6_HOSTS_2=

# Test 3: UDP / p2mp tun, topology subnet
#
RUN_TITLE_3="udp / p2pm / top subnet ** ipv4 only ** / tls-auth"
OPENVPN_CONF_3="$OPENVPN_BASE_P2MP --dev tun3 --proto udp --remote $REMOTE --port 51195 --tls-auth $KEYBASE/ta3.key"
EXPECT_IFCONFIG6_3=-
PING4_HOSTS_3="10.204.3.1 10.204.0.1"
PING6_HOSTS_3=

# Test 4: UDP / p2mp tap
#
RUN_TITLE_4="udp4 / p2pm / tap"
OPENVPN_CONF_4="$OPENVPN_BASE_P2MP --dev tap4 --proto udp --remote $REMOTE --port 51196"
EXPECT_IFCONFIG4_4=10.207.4.220			# ccd/DEFAULT
EXPECT_IFCONFIG6_4=-				# ccd/DEFAULT
# .200 = anchor-200, .207 = anchor-207
PING4_HOSTS_4="10.204.4.1 10.204.0.1 10.204.4.200 10.207.4.207"
PING6_HOSTS_4=

# Test 6: UDP / p2mp tun, top subnet, --fragment 500
#
RUN_TITLE_6="udp / p2pm / top subnet / --fragment 500"
OPENVPN_CONF_6="$OPENVPN_BASE_P2MP --dev tun3 --proto udp --remote $REMOTE --port 51198 --fragment 500"
EXPECT_IFCONFIG6_6=-
PING4_HOSTS_6="10.204.6.1 10.204.0.1"
PING6_HOSTS_6=

# Test 8: UDP / p2p tun
#
RUN_TITLE_8="p2p tun / udp4"
OPENVPN_CONF_8="--dev tun3 --proto udp --remote $REMOTE 51204 --nobind --secret $KEYBASE/p2p.key --ifconfig 10.204.8.2 10.204.8.1 --comp-lzo --route 10.204.0.0 255.255.0.0 --verb 3 --up $PING8_SH --script-security 2"
EXPECT_IFCONFIG4_8=10.204.8.2
EXPECT_IFCONFIG6_8=-
PING4_HOSTS_8="10.204.8.1 10.204.0.1"
PING6_HOSTS_8=
