### Features

# Add DNS records to the public DNS zone (requires registering the domain on AWS Route53)
enable_public_dns_zone = true

# Add DNS records to the private DNS zone
enable_private_dns_zone = true

# Enable automatic stopping of virtual machines at night
enable_scheduler_stop_start = true

# Enable the Buildbot (test) instance
enable_buildbot = true

# Enable the Otterwiki (test) instance
enable_otterwiki = true


### AWS settings

# You need to register this domain in AWS Route53. If you don't, the module
# will fail. This public zone is used to add A and AAAA records for virtual
# machines which need to be externally accessible.
public_dns_zone_name = "vpn-foss.org"

# This DNS zone is internal-only and does not require a matching, public DNS domain
private_dns_zone_name = "foss.vpn"

# This gets added to AWS tags and is purely informal
deployment = "production"

# These two SSH keys need to be present before running Tofu. The Windows key needs
key_name         = "openvpn-foss-opentofu"
windows_key_name = "openvpn-foss-windows-rsa"

# AWS networking settings
region                                            = "eu-central-1"
primary_vpc_cidr_block                            = "10.32.0.0/22"
primary_vpc_primary_public_subnet_cidr_block      = "10.32.0.0/24"
primary_vpc_secondary_public_subnet_cidr_block    = "10.32.1.0/24"
primary_vpc_primary_private_subnet_cidr_block     = "10.32.2.0/24"
primary_vpc_secondary_private_subnet_cidr_block   = "10.32.3.0/24"
secondary_vpc_cidr_block                          = "10.33.0.0/22"
secondary_vpc_primary_public_subnet_cidr_block    = "10.33.0.0/24"
secondary_vpc_secondary_public_subnet_cidr_block  = "10.33.1.0/24"
secondary_vpc_primary_private_subnet_cidr_block   = "10.33.2.0/24"
secondary_vpc_secondary_private_subnet_cidr_block = "10.33.3.0/24"


### Settings for t_server
tserver_anchor_hostname        = "tserver-anchor"
tserver_client_hostname        = "tserver-client"
tserver_rocky_9_amd64_hostname = "tserver-rocky-9-amd64"
tserver_allow_ipv4             = "10.32.0.0/22"
tserver_allow_ipv6             = "2a05:d014:94e:fe00::/56"

# Required for installing the Tofu-generated t_server client certs and key on
# the client VM - those are too big for user data.
tserver_provisioning_ssh_private_key = "/home/john/.ssh/tserver"

# t_server CIDR block
tserver_rocky_9_amd64_vpn_cidr_block = "10.58.123.0/24"

### Settings not related to t_server
vpn_cidr_block             = "10.35.80.0/24"
ubuntu_2404_vpn_cidr_block = "10.173.114.0/24"
windows_vpn_cidr_block     = "10.145.4.0/24"
openvpn_server_hostname    = "openvpn"
